body {
  display: grid;
  place-items: center;
  background-color: darkslategrey;
}

.map {
  width: 40rem;
  display: flex;
  flex-direction: column-reverse;
}
.map__container {
  position: relative;
}
.map__info {
  flex-grow: 1;
}
.map__tooltip {
  font-family: monospace;
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  translate: -50% -140%;
  transform: scaleY(0);
}

.map__tooltip::after {
  --x: 0.75rem;
  position: absolute;
  background-color: black;
  width: var(--x);
  height: var(--x);
  content: "";
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
  rotate: 45deg;
}

path:hover {
  fill: red;
  transition: all 500ms ease;
}

.blue {
  fill: blue;
}

svg:has(path:hover) + .map__tooltip {
  transform: scaleY(100%);
  transition: transform 200ms ease;
  transform-origin: bottom center;
}
