@import url('https://fonts.googleapis.com/css?family=Mukta:700');
body {
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #aaffa9, #11ffbd);
    padding: 3em;
}

.container {
    display: flex;
    justify-content: center;
    margin: 3em 3em;
    position: relative;
}

.char-div {
    display: inline-block;
    position: relative;
}

.char-input {
    padding: 0.5em;
    width: 2em;
    border: none;
    border-radius: 1em;
    font-size: 1.5em;
    text-align: center;
    margin: 0 0.2em;
}

.cross {
    position: absolute;
    
    left: 0;
    /* transform: translateX(-50%); */
    transform: translateY(-50%);
    margin: 0;
    color: red;
    background-color: transparent;
}

.cross:hover {
    background: rgba(255, 0, 0, 0.5);
    color: white;
    transition: background 300ms ease-in-out, color 300ms ease-in-out;
}

.char-input:focus-visible {
    outline: none;
}

.btn {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
}

#plus-btn {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
}

.result-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#target-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    width: 30%;
    height: 2em;
    border-radius: 1em;
    background-color: lightgrey;
}